##1
Скачать файл в уроке
Считать данные с помощью pandas
Вывести на экран первые 5 строк
Посмотреть на описание признаков и на их содержание

In [19]:
import pandas as pd
df = pd.read_csv('./kc_house_data.csv')
df.head()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21613 non-null  object
 2   price          21613 non-null  float64
 3   bedrooms       21613 non-null  int64
 4   bathrooms      21613 non-null  float64
 5   sqft_living    21613 non-null  int64
 6   sqft_lot       21613 non-null  int64
 7   floors         21613 non-null  float64
 8   waterfront     21613 non-null  int64
 9   view           21613 non-null  int64
 10  condition      21613 non-null  int64
 11  grade          21613 non-null  int64
 12  sqft_above     21611 non-null  float64
 13  sqft_basement  21613 non-null  int64
 14  yr_built       21613 non-null  int64
 15  yr_renovated   21613 non-null  int64
 16  zipcode        21613 non-null  int64
 17  lat            21613 non-null  float64
 18  long           21613 non-null  float64
 19  sqft_living15  21613 non-null  int64
 20  sqft_lot15     21613 non-null  int64
dtypes: float64(6), int64(14), object(1)
memory usage: 3.5+ MB

##2
Проведите первичный анализ данных
Изучите типы данных
Найдите количество пропущенных ячеек в данных
Посчитайте основные статистики по всем признакам и поизучайте их
Пишите выводы

In [20]:
df.describe()
df.describe(include='object')

                   date
count             21613
unique              372
top     20140623T000000
freq                142

##3
Ответьте на несколько вопросов
###3.1 В каком диапазоне изменяются стоимости недвижимости?
###3.2 Какую долю в среднем занимают жилая площадь от всей площади по всем домам?
###3.3 Как много домов с разными этажами в данных?
###3.4 Насколько хорошие состояния у домов в данных?
###3.5 Найдите года, когда построили первый дом, когда построили последний дом в данных?

In [ ]:
price_range = [df['price'].min(), df['price'].max()]
price_range


share = df['sqft_living'].mean()/df['sqft_lot'].mean()
share


df['floors'].value_counts()

if (df[df['yr_renovated'] == 0].shape[0]/df.shape[0] < 0.5):
    print('Good')
else:
    print('Old')


print(df['yr_built'].min())
print(df['yr_built'].max())

##4
Ответьте на несколько вопросов

###4.1 Сколько в среднем стоят дома, у которых 2 спальни?
###4.2 Какая в среднем общая площадь домов, у которых стоимость больше 600 000?
###4.3 Как много домов коснулся ремонт?
###4.4 Насколько в среднем стоимость домов с оценкой grade домов выше 10 отличается от стоимости домов с оценкой grade меньше 4?

In [ ]:
df[df['bedrooms'] == 2]['price'].mean()


df[df['price'] > 600000]['sqft_lot'].mean()


df[df['yr_renovated'] > 0].shape[0]


df[df['grade'] > 10]['price'].mean() - df[df['grade'] < 4]['price'].mean()

##5
Ответьте на несколько вопросов
5.1 Выберите дом клиенту
Клиент хочет дом с видом на набережную, как минимум с тремя ванными и с подвалом. Сколько вариантов есть у клиента?
5.2 Выберите дом клиенту
Клиент хочет дом либо с очень красивым видом из окна, либо с видом на набережную, в очень хорошем состоянии и год постройки не меньше 1980 года. В какой ценовом диапазоне будут дома?
5.3 Выберите дом клиенту
Клиент хочет дом без подвала, с двумя этажами, стоимостью до 150000. Какая оценка по состоянию у таких домов в среднем?

In [46]:


df[(df['waterfront'] > 0) & (df['bathrooms'] >= 3) & (df['sqft_basement'] > 0)].shape[0]


conditions_df = df[((df['view'] > 0) | (df['waterfront'] > 0)) & (df['grade'] > 8) & (df['yr_built'] >= 1980)]

conditions_df_price_range = [conditions_df['price'].min(), conditions_df['price'].max()]

conditions_df_price_range


df[(df['sqft_basement'] == 0) & (df['floors'] == 2) & (df['price'] < 150000)]['grade'].mean()

7.0